@using KiRaYa.Models

@{List<RoomTable> roomTables = new RoomTable().GetAll();
    List<Rental> listrental = new Rental().GetAll();
}
@if (Session["UserID"].ToString().Contains("1"))
{
    <div class=" row" id="1">
        <div class="col-md-5  ">
            <div class="card text-white bg-primary mx-auto  " style="  box-shadow:2px 4px 4px black ;z-index:10000">
                <div class="card-header text-center">Block A ROOMS</div>
                <div class="card-body  ">
                    <ul class="list-group">
                        <marquee behavior="scroll" direction="left" style="color:black;box-shadow:2px 4px 4px black;font-size:20px">@ViewData["mgs"]</marquee>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            ROOM AviAlABLE IN BLOCK
                            <a onclick="m();" data-toggle="modal" data-target=".bd-example-modal-xl">
                                @* <a href="/RoomTable/Index?DDID=1" >*@
                                <span class="badge badge-primary badge-pill">
                                    @{ int TR = roomTables.FindAll(x => x.DDID == 2 && x.Status == false).Count();

                                    }
                                    @TR

                                </span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>

        </div>
        <div class="col-md-5 text-center  ">
            <div class="card text-white bg-secondary " style="  box-shadow:2px 4px 4px black ;z-index:10000">
                <div class="card-header text-center">Block B Rooms</div>
                <div class="card-body  ">
                    <ul class="list-group">
                        <marquee behavior="scroll" direction="left" style="color:black;box-shadow:2px 4px 4px black;font-size:20px">@TempData["mgs"]</marquee>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            ROOM AviAlABLE IN BLOCK
                            <a onclick="y();" data-toggle="modal" data-target=".bd-example-modal-xl">
                                @*<a href="/RoomTable/Index?DDID=2">*@
                                <span class="badge badge-primary badge-pill">

                                    @{ int RT = roomTables.FindAll(x => x.DDID == 3 && x.Status == false).Count();}
                                    @RT
                                </span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>

    <br />
    <div class=" row" id="2">
        <div class="col-md-5">
            <div class="card text-white bg-primary mx-auto  " style="box-shadow:2px 4px 4px black ;z-index:10000">
                <div class="card-header text-center">Block C ROOMS</div>
                <div class="card-body  ">
                    <ul class="list-group">
                        <marquee behavior="scroll" direction="left" style="color:black;box-shadow:2px 4px 4px black;font-size:20px">@TempData["mgs"]</marquee>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            ROOM AviAlABLE IN BLOCK

                            <a onclick="mys();" data-toggle="modal" data-target=".bd-example-modal-xl">
                                <span class="badge badge-primary badge-pill">
                                    @{ int QT = roomTables.FindAll(x => x.DDID == 4 && x.Status == false).Count();}


                                    @QT



                                </span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-5 text-center">
            <div class="card text-white bg-secondary " style="box-shadow:2px 4px 4px black ;z-index:10000">
                <div class="card-header text-center">Block D Rooms</div>
                <div class="card-body  ">
                    <ul class="list-group">
                        <marquee behavior="scroll" direction="left" style="color:black;box-shadow:2px 4px 4px black;font-size:20px">@TempData["mgs"]</marquee>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            ROOM AviAlABLE IN BLOCK
                            <a onclick="my();" data-toggle="modal" data-target=".bd-example-modal-xl">
                                @* <a href="/RoomTable/Index?DDID=4">*@
                                <span class="badge badge-primary badge-pill">

                                    @{ int yt = roomTables.FindAll(x => x.DDID == 1 && x.Status == false).Count();}


                                    @yt
                                </span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>

}

@if (Session["UserID"].ToString().Contains("2"))

{

    <div class=" row" id="1">
        <div class="col-md-5">
            <div class="card text-white bg-primary mx-auto  " style="box-shadow:2px 4px 4px black ;z-index:10000">
                <div class="card-header text-center">Block A ROOMS</div>
                <div class="card-body  ">
                    <ul class="list-group">
                        <marquee behavior="scroll" direction="left" style="color:black;box-shadow:2px 4px 4px black;font-size:20px">@ViewData["mgs"]</marquee>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            ROOM AviAlABLE IN BLOCK
                            <a onclick="m();" data-toggle="modal" data-target=".bd-example-modal-xl">
                                @* <a href="/RoomTable/Index?DDID=1" >*@
                                <span class="badge badge-primary badge-pill">
                                    @{ int TR = roomTables.FindAll(x => x.DDID == 2 && x.Status == false).Count();

                                    }
                                    @TR



                                </span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-5 text-center ">
            <div class="card text-white bg-secondary " style=" box-shadow:2px 4px 4px black ;z-index:10000">
                <div class="card-header text-center">Block B Rooms</div>
                <div class="card-body  ">
                    <ul class="list-group">
                        <marquee behavior="scroll" direction="left" style="color:black;box-shadow:2px 4px 4px black;font-size:20px">@TempData["mgs"]</marquee>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            ROOM AviAlABLE IN BLOCK
                            <a onclick="y();" data-toggle="modal" data-target=".bd-example-modal-xl">
                                @*<a href="/RoomTable/Index?DDID=2">*@
                                <span class="badge badge-primary badge-pill">

                                    @{ int RT = roomTables.FindAll(x => x.DDID == 3 && x.Status == false).Count();}
                                    @RT
                                </span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="col-2 text-center">
            <div class="card text-white bg-warning mx-auto  " style=" max-width: 18rem ;box-shadow:2px 4px 4px black ;z-index:10000">
                <div class="card-header text-center">User Details</div>
                <div class="card-body  ">
                    <ul class="list-group">
                        <button type="button" onclick="window.location.href = 'http://localhost:57665/Rental/Index?RentalID=0'">
                            <span class="badge badge-primary badge-pill text-center">
                                View Details
                            </span>
                        </button>

                    </ul>

                </div>
            </div>
        </div>

    </div>
    <br />
    <div class=" row" id="2">
        <div class="col-md-5  ">
            <div class="card text-white bg-primary mx-auto  " style=" box-shadow:2px 4px 4px black ;z-index:10000">
                <div class="card-header text-center">Block C ROOMS</div>
                <div class="card-body  ">
                    <ul class="list-group">
                        <marquee behavior="scroll" direction="left" style="color:black;box-shadow:2px 4px 4px black;font-size:20px">@TempData["mgs"]</marquee>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            ROOM AviAlABLE IN BLOCK

                            <a onclick="mys();" data-toggle="modal" data-target=".bd-example-modal-xl">
                                <span class="badge badge-primary badge-pill">
                                    @{ int QT = roomTables.FindAll(x => x.DDID == 4 && x.Status == false).Count();}


                                    @QT



                                </span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-5 text-center  ">
            <div class="card text-white bg-secondary " style=" box-shadow:2px 4px 4px black ;z-index:10000">
                <div class="card-header text-center">Block D Rooms</div>
                <div class="card-body  ">
                    <ul class="list-group">
                        <marquee behavior="scroll" direction="left" style="color:black;box-shadow:2px 4px 4px black;font-size:20px">@TempData["mgs"]</marquee>
                        <li class="list-group-item d-flex text-dark justify-content-between align-items-center">
                            ROOM AviAlABLE IN BLOCK
                            <a onclick="my();" data-toggle="modal" data-target=".bd-example-modal-xl">
                                @* <a href="/RoomTable/Index?DDID=4">*@
                                <span class="badge badge-primary badge-pill">

                                    @{ int yt = roomTables.FindAll(x => x.DDID == 1 && x.Status == false).Count();}


                                    @yt
                                </span>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>


    </div>



}
<script>
    // list of languages is probably not loaded, wait for it
    if (window.speechSynthesis.getVoices().length == 0) {
        window.speechSynthesis.addEventListener('voiceschanged', function () {
            textToSpeech();
        });
    }
    else {
        // languages list available, no need to wait
        textToSpeech()
    }

    function textToSpeech() {
        // get all voices that browser offers
        var available_voices = window.speechSynthesis.getVoices();

        // this will hold an english voice
        var english_voice = '';

        // find voice by language locale "en-US"
        // if not then select the first voice
        for (var i = 0; i < available_voices.length; i++) {
            if (available_voices[i].lang === 'en-US') {
                english_voice = available_voices[i];
                break;
            }
        }
        if (english_voice === '')
            english_voice = available_voices[0];

        // new SpeechSynthesisUtterance object
        var utter = new SpeechSynthesisUtterance();
        utter.rate = 1;
        utter.pitch = 0.5;
        utter.text = ' kiraya application me apka swagat hai';
        utter.voice = english_voice;

        // event after text has been spoken


        // speak
        window.speechSynthesis.speak(utter);
    }
</script>


<script>
    function my() {
        $("#waiting").show();
        $("#1").show();
        $("#2").show();
        $.ajax({
            type: 'GET',
            url: "/RoomTable/FilterFunction?DDID=" + 1 + "&Status=" + false,
            success: function (data) {
                $("#ModelContent").html(data);
                $("#ModelID").show();
                $("#waiting").hide();
                if (window.speechSynthesis.getVoices().length == 0) {
                    window.speechSynthesis.addEventListener('voiceschanged', function () {
                        textToSpeech();
                    });
                }
                else {
                    // languages list available, no need to wait
                    textToSpeech()
                }

                function textToSpeech() {
                    // get all voices that browser offers
                    var available_voices = window.speechSynthesis.getVoices();

                    // this will hold an english voice
                    var english_voice = '';

                    // find voice by language locale "en-US"
                    // if not then select the first voice
                    for (var i = 0; i < available_voices.length; i++) {
                        if (available_voices[i].lang === 'en-US') {
                            english_voice = available_voices[i];
                            break;
                        }
                    }
                    if (english_voice === '')
                        english_voice = available_voices[0];

                    // new SpeechSynthesisUtterance object
                    var utter = new SpeechSynthesisUtterance();
                    utter.rate = 1;
                    utter.pitch = 0.5;
                    utter.text = ' Apne Block D  chuna hai ';
                    utter.voice = english_voice;

                    // event after text has been spoken


                    // speak
                    window.speechSynthesis.speak(utter);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback

            }
        });
    }
    function m() {
        $("#waiting").show();
        $("#1").show();
        $("#2").show();
        $.ajax({
            type: 'GET',
            url: "/RoomTable/FilterFunction?DDID=" + 2 + "&Status=" + false,
            success: function (data) {
                $("#ModelContent").html(data);
                $("#ModelID").show();
                $("#waiting").hide();
                if (window.speechSynthesis.getVoices().length == 0) {
                    window.speechSynthesis.addEventListener('voiceschanged', function () {
                        textToSpeech();
                    });
                }
                else {
                    // languages list available, no need to wait
                    textToSpeech()
                }

                function textToSpeech() {
                    // get all voices that browser offers
                    var available_voices = window.speechSynthesis.getVoices();

                    // this will hold an english voice
                    var english_voice = '';

                    // find voice by language locale "en-US"
                    // if not then select the first voice
                    for (var i = 0; i < available_voices.length; i++) {
                        if (available_voices[i].lang === 'en-US') {
                            english_voice = available_voices[i];
                            break;
                        }
                    }
                    if (english_voice === '')
                        english_voice = available_voices[0];

                    // new SpeechSynthesisUtterance object
                    var utter = new SpeechSynthesisUtterance();
                    utter.rate = 1;
                    utter.pitch = 0.5;
                    utter.text = 'Apne Block A  Choona Hai';
                    utter.voice = english_voice;

                    // event after text has been spoken


                    // speak
                    window.speechSynthesis.speak(utter);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback

            }
        });
    }
    function y() {
        $("#waiting").show();
        $("#1").show();
        $("#2").show();
        $.ajax({
            type: 'GET',
            url: "/RoomTable/FilterFunction?DDID=" + 3 + "&Status=" + false,
            success: function (data) {
                $("#ModelContent").html(data);
                $("#ModelID").show();
                $("#waiting").hide();
                if (window.speechSynthesis.getVoices().length == 0) {
                    window.speechSynthesis.addEventListener('voiceschanged', function () {
                        textToSpeech();
                    });
                }
                else {
                    // languages list available, no need to wait
                    textToSpeech()
                }

                function textToSpeech() {
                    // get all voices that browser offers
                    var available_voices = window.speechSynthesis.getVoices();

                    // this will hold an english voice
                    var english_voice = '';

                    // find voice by language locale "en-US"
                    // if not then select the first voice
                    for (var i = 0; i < available_voices.length; i++) {
                        if (available_voices[i].lang === 'en-US') {
                            english_voice = available_voices[i];
                            break;
                        }
                    }
                    if (english_voice === '')
                        english_voice = available_voices[0];

                    // new SpeechSynthesisUtterance object
                    var utter = new SpeechSynthesisUtterance();
                    utter.rate = 1;
                    utter.pitch = 0.5;
                    utter.text = ' Apne Block B  CHOONA HAI';
                    utter.voice = english_voice;

                    // event after text has been spoken


                    // speak
                    window.speechSynthesis.speak(utter);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback

            }
        });
    }
    function mys() {
        $("#waiting").show();
        $("#1").show();
        $("#2").show();
        $.ajax({
            type: 'GET',
            url: "/RoomTable/FilterFunction?DDID=" + 4 + "&Status=" + false,
            success: function (data) {
                $("#ModelContent").html(data);
                $("#ModelID").show();
                $("#waiting").hide();
                if (window.speechSynthesis.getVoices().length == 0) {
                    window.speechSynthesis.addEventListener('voiceschanged', function () {
                        textToSpeech();
                    });
                }
                else {
                    // languages list available, no need to wait
                    textToSpeech()
                }

                function textToSpeech() {
                    // get all voices that browser offers
                    var available_voices = window.speechSynthesis.getVoices();

                    // this will hold an english voice
                    var english_voice = '';

                    // find voice by language locale "en-US"
                    // if not then select the first voice
                    for (var i = 0; i < available_voices.length; i++) {
                        if (available_voices[i].lang === 'en-US') {
                            english_voice = available_voices[i];
                            break;
                        }
                    }
                    if (english_voice === '')
                        english_voice = available_voices[0];

                    // new SpeechSynthesisUtterance object
                    var utter = new SpeechSynthesisUtterance();
                    utter.rate = 1;
                    utter.pitch = 0.5;
                    utter.text = 'Apne Block C  Choona hai';
                    utter.voice = english_voice;

                    // event after text has been spoken


                    // speak
                    window.speechSynthesis.speak(utter);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback

            }
        });
    }
</script>