@model IEnumerable<KiRaYa.Models.RoomTable>
@using KiRaYa.Models

@{ List<BlockD> listroom = new BlockD().GetAll();
    List<RoomTable> roomtable = new RoomTable().GetAll();
}
<div class="card">
    <div class="card-header">
        <h5 style="text-align:center;color:#000000"><b>Room Details</b></h5>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover w-100" id="Tbl">
            <thead>
                <tr>
                    <th> Block Name</th>
                    <th>
                        @Html.DisplayNameFor(model => model.RID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomSIZE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ElectriCityCost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RantAmt)
                    </th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.RID , @item.DDID,vaa ">
                        <td>
                            @{ BlockD OBJBLOCK = listroom.Find(x => x.DDID == item.DDID);}
                            @OBJBLOCK.Name
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomSIZE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ElectriCityCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RantAmt)
                        </td>
                        <td id="444">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @{
                                string s = Session["UserID"].ToString();
                            }

                            @if (Session["UserID"] != null && Session["UserID"].ToString().Contains("1"))
                            {

                                <a href="/RoomTable/CreateEdit?RID=@item.RID " class="btn btn-warning btn-sm "> Edit</a>
                                <a href="/RoomTable/Delete?ID=@item.RID " class="btn btn-danger btn-sm "> Delete</a>
                                <a href="/RoomTable/CreateEdit?RID=0" class="btn btn-success"><i class="fa fa-plus"></i>add</a>

                            }

                            @if (Session["UserID"].ToString().Contains("2"))

                            {
                                @*<a href="/Rental/termpolcy"   id="manual-ajax">Click</a>*@
                                @*<input type="checkbox" onclick="my();" />*@
                                <button type="button" class="btn btn-primary" onclick="CLick(@item.RID , @item.DDID);">Click</button>



                            }
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>
 

